body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(36, 36, 36);
}

p{
  margin: 0;
  padding: 0;
}

.title{
  color: rgb(208, 208, 208);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 80px;
  letter-spacing: 3px;
  word-spacing: 20px;
  display: block;
  margin: 50px 0px;
}

.choicesRow{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.rockCont, .paperCont, .scissorsCont{
  border: 4px solid gray;
  padding: 30px;
  margin: 0px 30px;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  transition: ease 0.3s;
}

.rockCont:hover{
  scale: 1.2;
  background-color: rgba(74, 123, 76, 0.172);
  border-color: transparent;
  cursor: pointer;
}

.paperCont:hover{
  scale: 1.2;
  background-color: rgba(143, 124, 97, 0.172);
  border-color: transparent;
  cursor: pointer;
}

.scissorsCont:hover{
  scale: 1.2;
  background-color: rgba(143, 91, 120, 0.172);
  border-color: transparent;
  cursor: pointer;
}

.choicesIcon{
  height: 100px;
  width: 100px;
}

.displayUserChoice, .displayComputerChoice{
  color: rgb(208, 208, 208);
  font-size: 30px;
  font-family: monospace;
}

.displayUserChoice:not(:empty) {
  margin-top: 50px;
}

.displayResult{
  color: rgb(208, 208, 208);
  font-size: 60px;
  font-family: monospace;
}

.displayResult:not(:empty) {
  margin-top: 50px;
}

.displayScore{
  color: rgb(208, 208, 208);
  font-size: 30px;
  font-family: monospace;
  margin-top: 50px;
}

.displayResetScore{
  font-size: 20px;
  font-family: monospace;
  color: rgb(208, 208, 208);
  padding: 15px 30px;
  margin-top: 20px;
  border: 2px solid gray;
  border-radius: 15px;
  background-color: rgb(27, 27, 27);
  transition: 0.3s ease;
}

.displayResetScore:hover{
  cursor: pointer;
  background-color: rgb(76, 49, 49);
  scale: 1.2;
}