/*
COLORS

Primary (Background): #EEE0CB
Secondary (Buttons): #BAA898

Light Beige: EEE0CB
Darker Beige: BAA898
Teal: 839788
*/

* {
  margin: 0;
  align-items: center;
  justify-content: center;
}

body{
  background-color: #EEE0CB;
  display: flex;
  flex-direction: column;
}



/*  Font Designs  */

h1, h2, h3{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1{
  font-size: 100px;
}

.titleCont{
  display: flex;
  align-items: center;
}

.coinTitle{
  padding-bottom: 50px;
  color: rgb(179, 156, 31);
}

.flipTitle{
  padding-top: 50px;
  color: rgb(49, 38, 110);
}

h3{
  font-size: 22px;
}

h2{
  font-size: 30px;
}

p{
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
}



/*  Toss Coin Button  */

.tossCont{
  display: flex;
  flex-direction: column;
  margin: 20px;
}



/*  Heads & Tails Buttons Row  */

.choicesCont{
  display: flex;
  margin: 20px;
}



/*  Heads & Tails Own Columns  */

.choicesCol{
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
}



/*  Images  */

img{
  height: 200px;
  width: 200px;
  transition: ease 0.3s;
}

img:hover{
  cursor: pointer;
  scale: 1.1;
}

img:active{
  scale: 0.8;
  transition: 0.05s;
}



/*  Score Section  */

.scoreCont{
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 5px;
}



/*  Reset Score Button  */

.reset{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  padding: 8px 24px;
  background-color: #BAA898;
  border: solid 3px rgb(49, 38, 110);
  border-radius: 10px;
}

.reset:hover{
  cursor: pointer;
  scale: 1.1;
  transition: ease 0.3s;
}

.reset:active{
  scale: 0.8;
  transition: 0.05s;
}



/*  Status  */

.statusCont{
  height: 60px;
  width: 700px;
  background-color: #BAA898;
  border: solid 3px rgb(49, 38, 110);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}